@import url(bootstrap.css);
@import url(antd.css);
@import url(graphviz.svg.css);
.container {
  height: 100vh;
  position: relative;
  background-color: #eee;
  display: flex;
  flex-flow: row;
  width: 100%; }

.container-left {
  height: 100vh;
  background-color: #404040;
  width: 200px; }

.container-right {
  flex: 1; }

.page-container {
  padding-top: 20px;
  height: 100vh; }

.editor-container {
  height: 100%; }

.code-page-header {
  height: 0px;
  margin-top: 0px;
  margin-left: 20px; }

.config-page-edit {
  height: 100%;
  padding-top: 60px; }

.code-page-edit {
  height: 100%;
  padding-top: 40px; }

.about-container-all {
  height: 100vh; }

.menu-logo-outer {
  display: table;
  margin-top: 15px;
  margin-right: 0px; }

.menu-logo-middle {
  display: table-cell;
  vertical-align: middle; }

.main-menu-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.main-menu-btn-container {
  text-align: center;
  width: 100%;
  margin-bottom: 20px; }

.build-btn-container {
  margin-top: 20px;
  text-align: center;
  width: 100%; }

.main-menu-btn {
  margin-top: 10px;
  width: 60%;
  padding: 6px; }

.show-page-ctx {
  margin: 10px 20px; }

main-popup-menu {
  width: 200px; }

#gv-graph {
  width: 700px;
  height: 600px;
  overflow: scroll; }
