@import "colors";

@import "../node_modules/font-awesome/scss/font-awesome";
@import "antd.css";

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #eee;
}

.container-left {
    height: 100vh;
    background-color: #404040;
}

.page-container {
    padding-top: 20px;
    height: 100vh;
}

.editor-container {
    height: 100%;
}

.code-page-header {
    height: 0px;
    margin-top: 0px;
    margin-left: 20px;
}

.config-page-edit {
    height: 100%;
    padding-top: 60px;
}

.code-page-edit {
    height: 100%;
    padding-top: 40px;
}

.about-container-all {
    height: 100vh;
}

.menu-logo-outer {
    display: table;
    margin-top: 15px;
    margin-right: 0px;
}

.menu-logo-middle {
    display: table-cell; vertical-align: middle;
}

.main-menu-container {
    height: 100%;
}

.main-menu-btn-container {
    text-align: center;
    position:absolute;
    width: 100%;
    bottom: 20px;
}

.main-menu-btn {
    margin: 0 auto;
    width: 60%;
    padding: 6px;
}

.sub-popup-menu {

}
